{%extends "layout.html" %}
{%block content%}
       <div class="content-section">
        <form method='POST' action=''>
           
            
            <h3>PART A</h3>
    
            <div class="question">
                <label for="question1"><b>Question 1:</b> How often do you have trouble wrapping up the final details of a project, 
                    once the challenging parts have been done?</label><br>
                <input type="radio" name="answer1" value="Never"> Never
                <input type="radio" name="answer1" value="Rarely"> Rarely 
                <input type="radio" name="answer1" value="Sometimes"> Sometimes
                <input type="radio" name="answer1" value="Often"> Often
                <input type="radio" name="answer1" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question2"><b>Question 2:</b> How often do you have difficulty getting things in order when you have to do 
                    a task that requires organization?</label><br>
                <input type="radio" name="answer2" value="Never"> Never
                <input type="radio" name="answer2" value="Rarely"> Rarely 
                <input type="radio" name="answer2" value="Sometimes"> Sometimes
                <input type="radio" name="answer2" value="Often"> Often
                <input type="radio" name="answer2" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question3"><b>Question 3:</b> How often do you have problems remembering appointments or obligations?</label><br>
                <input type="radio" name="answer3" value="Never"> Never
                <input type="radio" name="answer3" value="Rarely"> Rarely 
                <input type="radio" name="answer3" value="Sometimes"> Sometimes
                <input type="radio" name="answer3" value="Often"> Often
                <input type="radio" name="answer3" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question4"><b>Question 4:</b> When you have a task that requires a lot of thought, how often do you avoid 
                    or delay getting started?</label><br>
                <input type="radio" name="answer4" value="Never"> Never
                <input type="radio" name="answer4" value="Rarely"> Rarely 
                <input type="radio" name="answer4" value="Sometimes"> Sometimes
                <input type="radio" name="answer4" value="Often"> Often
                <input type="radio" name="answer4" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question5"><b>Question 5:</b> How often do you fidget or squirm with your hands or feet when you have 
                    to sit down for a long time?</label><br>
                <input type="radio" name="answer5" value="Never"> Never
                <input type="radio" name="answer5" value="Rarely"> Rarely 
                <input type="radio" name="answer5" value="Sometimes"> Sometimes
                <input type="radio" name="answer5" value="Often"> Often
                <input type="radio" name="answer5" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question6"><b>Question 6:</b> How often do you feel overly active and compelled to do things, like you 
                    were driven by a motor?</label><br>
                <input type="radio" name="answer6" value="Never"> Never
                <input type="radio" name="answer6" value="Rarely"> Rarely 
                <input type="radio" name="answer6" value="Sometimes"> Sometimes
                <input type="radio" name="answer6" value="Often"> Often
                <input type="radio" name="answer6" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question7"><b>Question 7:</b> How often do you make careless mistakes when you have to work on a boring or
                    difficult project?</label><br>
                <input type="radio" name="answer7" value="Never"> Never
                <input type="radio" name="answer7" value="Rarely"> Rarely 
                <input type="radio" name="answer7" value="Sometimes"> Sometimes
                <input type="radio" name="answer7" value="Often"> Often
                <input type="radio" name="answer7" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question8"><b>Question 8:</b> How often do you have difficulty keeping your attention when you are doing boring
                    or repetitive work?</label><br>
                <input type="radio" name="answer8" value="Never"> Never
                <input type="radio" name="answer8" value="Rarely"> Rarely 
                <input type="radio" name="answer8" value="Sometimes"> Sometimes
                <input type="radio" name="answer8" value="Often"> Often
                <input type="radio" name="answer8" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question9"><b>Question 9:</b> How often do you have difficulty concentrating on what people say to you, 
                    even when they are speaking to you directly?</label><br>
                <input type="radio" name="answer9" value="Never"> Never
                <input type="radio" name="answer9" value="Rarely"> Rarely 
                <input type="radio" name="answer9" value="Sometimes"> Sometimes
                <input type="radio" name="answer9" value="Often"> Often
                <input type="radio" name="answer9" value="Very Often"> Very Often
            </div><br>
            <h3>PART B</h3><br>
            <div class="question">
                <label for="question10"><b>Question 10:</b> How often do you misplace or have difficulty finding things at home or at work?</label><br>
                <input type="radio" name="answer10" value="Never"> Never
                <input type="radio" name="answer10" value="Rarely"> Rarely 
                <input type="radio" name="answer10" value="Sometimes"> Sometimes
                <input type="radio" name="answer10" value="Often"> Often
                <input type="radio" name="answer10" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question11"><b>Question 11:</b> How often are you distracted by activity or noise around you?</label><br>
                <input type="radio" name="answer11" value="Never"> Never
                <input type="radio" name="answer11" value="Rarely"> Rarely 
                <input type="radio" name="answer11" value="Sometimes"> Sometimes
                <input type="radio" name="answer11" value="Often"> Often
                <input type="radio" name="answer11" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question12"><b>Question 12:</b> How often do you leave your seat in meetings or other situations in which you are expected to remain seated?</label><br>
                <input type="radio" name="answer12" value="Never"> Never
                <input type="radio" name="answer12" value="Rarely"> Rarely 
                <input type="radio" name="answer12" value="Sometimes"> Sometimes
                <input type="radio" name="answer12" value="Often"> Often
                <input type="radio" name="answer12" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question13"><b>Question 13:</b> How often do you feel restless or fidgety?</label><br>
                <input type="radio" name="answer13" value="Never"> Never
                <input type="radio" name="answer13" value="Rarely"> Rarely 
                <input type="radio" name="answer13" value="Sometimes"> Sometimes
                <input type="radio" name="answer13" value="Often"> Often
                <input type="radio" name="answer13" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question14"><b>Question 14:</b> How often do you have difficulty unwinding and relaxing when you have time to yourself?</label><br>
                <input type="radio" name="answer14" value="Never"> Never
                <input type="radio" name="answer14" value="Rarely"> Rarely 
                <input type="radio" name="answer14" value="Sometimes"> Sometimes
                <input type="radio" name="answer14" value="Often"> Often
                <input type="radio" name="answer14" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question15"><b>Question 15:</b> How often do you find yourself talking too much when you are in social situations?</label><br>
                <input type="radio" name="answer15" value="Never"> Never
                <input type="radio" name="answer15" value="Rarely"> Rarely 
                <input type="radio" name="answer15" value="Sometimes"> Sometimes
                <input type="radio" name="answer15" value="Often"> Often
                <input type="radio" name="answer15" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question16"><b>Question 16:</b> When you're in a conversation, how often do you find yourself finishing the sentences of the people you are talking to, before they can finish themselves?</label><br>
                <input type="radio" name="answer16" value="Never"> Never
                <input type="radio" name="answer16" value="Rarely"> Rarely 
                <input type="radio" name="answer16" value="Sometimes"> Sometimes
                <input type="radio" name="answer16" value="Often"> Often
                <input type="radio" name="answer16" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question17"><b>Question 17:</b> How often do you have difficulty waiting your turn in situations when turn taking is required?</label><br>
                <input type="radio" name="answer17" value="Never"> Never
                <input type="radio" name="answer17" value="Rarely"> Rarely 
                <input type="radio" name="answer17" value="Sometimes"> Sometimes
                <input type="radio" name="answer17" value="Often"> Often
                <input type="radio" name="answer17" value="Very Often"> Very Often
            </div><br>
    
            <div class="question">
                <label for="question18"><b>Question 18:</b> How often do you interrupt others when they are busy?</label><br>
                <input type="radio" name="answer18" value="Never"> Never
                <input type="radio" name="answer18" value="Rarely"> Rarely 
                <input type="radio" name="answer18" value="Sometimes"> Sometimes
                <input type="radio" name="answer18" value="Often"> Often
                <input type="radio" name="answer18" value="Very Often"> Very Often
            </div><br>
    
            <button type="submit" class="submit-button">Submit</button>
        </form>
       </div>
{%endblock content %}